<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./assets/css/styles.css" />

    <title>GitList</title>
  </head>
  <body>
    <div class="main-layout">
      <div class="profile">
        <!-- ························································ -->
        <div class="profile-top">
          <div class="image">
            <img src="" width="278" height="278" alt="image profile" />
          </div>
          <div class="info-head">
            <p class="nickname">@LeonidasEsteban</p>
            <p class="prof-name">Leonidas Esteban</p>
          </div>
        </div>
        <!-- ························································ -->
        <div class="profile-actions">
          <button class="btn">follow</button>
          <button class="btn">💜 sponsor</button>
        </div>
        <!-- ························································ -->
        <div class="profile-info">
          <div class="profile-infoFolows">
            <p>Software Engineer, Professor</p>
            <div class="followers-info">
              <div>
                <div class="followers-infoContent">
                  <div class="">🐞</div>
                  <div class="follow-item">
                    <p>4.6k</p>
                    <p class="title">Followers</p>
                  </div>

                  <span class="dot">·</span>

                  <div class="follow-item">
                    <p>60</p>
                    <p class="title">Following</p>
                  </div>

                  <span class="dot">·</span>
                </div>
              </div>
              <div class="follow-item">
                <span class="">🐞</span>
                <p>81</p>
              </div>
            </div>
          </div>
          <div class="social-info">
            <p class="social-infoItem"><span class="icon">🐞</span>ciudad de mexico</p>
            <p class="social-infoItem"><span class="icon">🐞</span>https://leonidasesteban.com</p>
            <p class="social-infoItem"><span class="icon">🐞</span>@LeonidasEsteban</p>
          </div>
        </div>
      </div>
      <div class="search">
        <p class="repos">Repositories (189)</p>
        <div class="search-actions">
          <form class="form">
            <input class="input-search" type="text" placeholder="Find a repository">
          </form>
          <div class="filter-actions">
            <select  class="select-filter"name="" id="">
              <option value="1">Type</option>
              <option value="2">Source</option>
              <option value="3">Forks</option>
              <option value="3">Archived</option>
              <option value="3">Mirrors</option>
            </select>
            <select class="select-filter" name="" id="">
              <option value="1">Language</option>
              <option value="2">Spanish</option>
              <option value="3">English</option>
            </select>
            <select class="select-filter" name="" id="">
              <option value="1">short</option>
            </select>
          </div>
        </div>
      </div>
      <div class="projects">projects</div>
    </div>
  </body>
</html>
