.item-stats {
    grid-area: stats;
    display: flex;
    margin-block-start: 1rem;
}

.btn-start {
    /* flex: 1; */
    border: none;
    background-color: var(--buttonBg);
    font: var(--body2-semi-bold);
    color: var(--white);
    padding-block: .5rem;
    padding-inline-start: .5rem;
    padding-inline-end:  1rem;
    border-radius: .5rem;
}

.item-stats .graphic {
    flex: 1;
   text-align: end;
    /* border: 1px solid red; */
}

@media screen and (min-width: 768px) {
    .item-stats {
        margin-block-start: 0;
        flex-direction: column;
        align-items: flex-end;
        gap: 3rem;
    }

    .item-stats .graphic {
        flex: initial
    }
}