@import './item-info.css';
@import './item-stats.css';

.project-item {
  /* border: 1px solid red; */
  margin-block-start: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: 'info' 'stats';
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--divider);
}

@media screen and (min-width: 768px) {
  .project-item {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'info stats';
  }
}
