.profile-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  order: 2;
}

@media screen and (min-width: 768px) {
  .profile-actions{
    order: 2;
  }
  .prof-actions {
    margin-block: 1.5rem;
  }
}
