@import './profile-top.css';
@import './profile-actions.css';
@import './profile-info.css';

.profile {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .profile {
    /*  grid-area: profile;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1.5rem; */
  }
}
