.profile-infoFolows {
  display: flex;
  flex-direction: column;
  font: var(--body1-regular);
  gap: 1rem;
}

.profile-infoFolows .followers-info {
  display: flex;
  gap: 0.5rem;
  font: var(--body2-semi-bold);
}

.followers-infoContent {
  display: flex;
  gap: 0.5rem;
}

.follow-item {
  display: flex;
  gap: 0.5rem;
}

.follow-item .title {
  color: var(--grey);
}

@media screen and (min-width: 768px) {
  .profile-infoFolows .followers-info {
    flex-direction: column;
  }
}

.dot {
  font-size: 1.5rem;
}
